@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.header{
    background-image: transparent url("images/header\ pattern\ image.png") 0% 0% no-repeat padding-box;
    background-color: #25313F;
    width: 100%;
    height: 56px;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #31B9E4;
}
.header-logo{
    margin-left: 29px;
    cursor: pointer;
}